@import "@/assets/scss/_variables.scss";
@import "@/assets/scss/_mixins.scss";

/* global layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: normal normal 300 1rem/1.4 $font-primary-face;
  color: $font-dark-color;
}

/* grid */
.main-wrapper {
  margin: 0 auto;
  padding: 0 3vw;
  max-width: $layout-max-width;
  @include media-bp-up(md) {
    padding: 0 5vw;
  }
}

/* utils */
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}

/* typo */
.baseline {
  font-weight: 100;
  font-size: 0.85rem;
  text-transform: uppercase;

  @include media-bp-up(md) {
    font-size: 1.15rem;
  }
}

.heading {
  font-weight: 700;
  text-transform: uppercase;

  &.heading-1 {
    font-size: 2.3rem;
  }

  &.heading-2 {
    font-size: 1.5rem;
  }
}

/* cta */
.btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  border: 1px solid $font-dark-color;
  border-radius: 4px;
  background: none;
  color: $font-dark-color;
  font: normal normal 700 0.9rem/1.4 $font-primary-face;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  transition: color 200ms ease-out, background-color 200ms ease-out;

  &:hover,
  &:active {
    color: $font-light-color;
    background: $font-dark-color;
  }

  &.btn-light {
    color: $font-light-color;
    border-color: $font-light-color;
    &:hover,
    &:active {
      color: $font-dark-color;
      background: $font-light-color;
    }
  }
}
